<app-header></app-header>
<section class="section">
  <!-- imagen de prueba -->
  <img
    src="https://cdn1.iconfinder.com/data/icons/ecommerce-479/402/Ecommerce_Icon_11-512.png"
    alt="logo"
    class="img_logo"
  />

  <h1 class="title">La bodeguita S.A de C.V</h1>

<!-- Make sure you have included Bootstrap CSS in your project -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<!-- inputs -->
<form class="mt-4" (ngSubmit)="verificarSesion()">
  <!-- usuario -->
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Usuario"
      [(ngModel)]="nombre"
      name="nombre"
    />
  </div>

  <!-- contra -->
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Contraseña"
      [(ngModel)]="password"
      name="password"
    />
  </div>

  <!-- btn iniciar -->
  <button
    type="submit"
    class="btn btn-primary"
    id="iniciarSesionButton"
    (click)="redireccionarSegunSesion()"
    [disabled]="!verificarSesion()"
  >
    Iniciar Sesión
  </button>
  
</form>
<a routerLink="/registro" class="btn btn-secondary">Puedes registrarte presionando aqui</a>

</section>
<app-footer></app-footer>
