<!-- nombre-del-componente.component.html -->
<app-header></app-header>
<form (submit)="registrarProducto()" class="container mt-4">
  <div class="form-group">
    <label for="producto">Producto:</label>
    <input
      type="text"
      id="producto"
      name="producto"
      [(ngModel)]="titulo"
      required
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="precio">Precio:</label>
    <input
      type="number"
      id="precio"
      name="precio"
      [(ngModel)]="precio"
      required
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <textarea
      id="descripcion"
      name="descripcion"
      [(ngModel)]="descripcion"
      required
      class="form-control"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="producto">Categoria</label>
    <input
      type="text"
      id="producto"
      name="producto"
      [(ngModel)]="categoria"
      required
      class="form-control"
    />
  </div>

  <button type="submit" class="btn btn-primary my-5">Agregar Producto</button>
  <a routerLink="/tablaProducto" class="btn btn-primary my-5">Regresar a la lista</a>

</form>

<app-footer></app-footer>
