<section class="section">
    <table>
        <!-- Columnas -->
        <thead>
          <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cant. Vendidas</th>
            <th>Descripción</th>
            <th>Categoría</th>
          </tr>
        </thead>
         <!-- DATOS -->
        <tbody>
            <tr>
              <td>0051454</td>
              <td>Pechuga de pollo</td>
              <td>$3.00</td>
              <td>201</td>
              <td>Pollo Indio</td>
              <td>Carne</td>
            </tr>
        </tbody>
    </table>